services:
  - type: web
    name: photo-kiosk
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
